* {
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    height: 100vw;

}

nav {
    Width: 100%;
    min-height: 40px;
    height: auto;
    background: grey;
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
nav a {
    color: Black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 4px 4px;
}


/*Angle calculator*/
.mainContainer {
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.calcConteiner {
    width: 300px;
    max-width: 50vw;
    height: auto;
    display: flex;
    word-wrap: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
}

.calcConteiner img {
    width: 100%;
}

.calcConteiner p, h3, input, button{
    margin: 2px 2px;
}

/*collar steps*/
.collarMainDiv {
    padding: 2px 2px;

}

#inputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#inputBox input {
    border: none;
    font-size: 0.8rem;
    width: 300px;
    height: 40px;
    text-align: center;
}

.button {
    width: 100vw;
    height: 40px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(50, 50, 50, 0.5);
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.button:hover {
    background:rgba(50, 50, 50, 0.4);
}


@media screen and (max-width: 650px) {
    .mainContainer{
        width: 90vw;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
}