* {
    padding: 0px 0px;
    margin: 0px 0px;
}

body {
    height: 100vw;

}

nav {
    background: grey;
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
nav a {
    color: Black;
    text-decoration: none;
    font-size: 1.5rem;
}


/*Angle calculator*/
.mainContainer{
    display: flex;
    word-wrap: normal;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.calcConteiner {
    width: 300px;
    max-width: 50vw;
    height: auto;
    display: flex;
    word-wrap: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    float: left;
}

.calcConteiner img {
    width: 100%;
}

/*collar steps*/

.button {
    width: 100px;
    height: auto;
    text-align: center;
    background:rgba(50, 50, 50, 0.5);
}
.button:hover {
    background:rgba(50, 50, 50, 0.4);
}


@media screen and (max-width: 650px) {
    .mainContainer{
        width: 90vw;
        flex-direction: column;
    }
    nav{
        flex-direction: column;
    }
}